<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visit Counter w/ Sessions</title>
</head>
<body>
    <h1>Session Count:</h1>
    <p>{{session['visits']}}</p>
    <form class="" action="/reset" method="post">
        <input type="submit" value="Reset">
    </form>
    <form class="" action="/add-two" method="post">
        <input type="submit" value="Add Two">
    </form>
</body>
</html>
