<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojos Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>New Dojo</h1>
            <p>Complete the form below to add the dojo.</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <form class="contact-form form-horizontal">
                <div class="form-group">
                    <input type="text" placeholder="Dojo Name" class="first-name form-control">
                </div>
                <div class="form-group">
                    <textarea placeholder="Description" class="description form-control" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <input type="button" class="add-dojo btn btn-primary btn-default form-control" value="Add Dojo">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
