<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Dissapearing Ninja</h1>
            <p>Enter a url like '/ninja/blue' to display the corresponding ninja.</p>
        </div>
        <div class="col-xs-12">
            <h3>No ninjas here.</h3>
        </div>
    </div>
</body>
</html>
